table {
    border-collapse: collapse;
    width: 100%;
  }
  
  
  th {
      text-align: center;
      padding: 8px;
    }
    
    td {
      text-align: left;
      padding: 8px;
    }
    
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #04AA6D;
    color: white;
  }

  caption {
    height: 8vh;
    text-align: right;
  }

  thead {
    height: 8vh;
  }

  tbody {
    height: 84vh;
  }


