table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
  }
  
  
  th {
      text-align: center;
      padding: 8px;
    }
    
    td {
      text-align: center;
      padding: 12px;
      border-right: 1px solid #000;
    }

    td:first-child {
        width: 2%;
    }

    td:nth-child(2) {
        width: 10%;
    }

    td:nth-child(3) {
        width: 17.6%;
    }
    td:nth-child(4) {
        width: 17.6%;
    }
    td:nth-child(5) {
        width: 17.6%;
    }
    td:nth-child(6) {
        width: 17.6%;
    }
    td:last-child {
        width: 17.6%;
        border: none;
    }

  tr:nth-child(even){background-color: #f7f7f7}
  
  th {
    background-color: #04AA6D;
    color: white;
  }

  caption {
    height: 8vh;
    text-align: right;
  }

  thead {
    height: 8vh;
  }

  tbody {
    height: 84vh;
  }


